body {
    height: 100%;
    color: #ccc;
    background-color: #161515;
    font-family: Arial, sans-serif; 
}

header { 
    background-color: #333;
    color: #e2dddd;
    padding: 20px;
    text-align: center;
    padding: 35px;
}

img[alt="imagemHackersDoBem"] {
    max-width: 100%;
    width: 130px;
    height: 120px;
    padding-right: 10px;
    text-align: center;
}

#imagensHome{

    justify-content: space-around;
    list-style: none;
    display: flex; 
    align-items: center;
    margin-left: 18%;
    margin-right: 20%;
}
.imgEcotech1{
    border-radius: 20%;
    width: 170px;
    height: 170px;
    margin-right: 10px;
}

.imgEcotech2{
    border-radius: 20%;
    width: 170px;
    height: 170px;
    margin-right: 10px;
}

.imgEcotech3{
    border-radius: 20%;
    width: 170px;
    height: 170px;
    margin-right: 10px;
}

#home{
   ul li{
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
    margin: 10px;
    }
}

nav ul {
    list-style-type: none;
    padding: 20px;  
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    background-color: #201e1e;
    padding: 50px;
}

#sobreNos,
#projects,
#index {
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#sobreNos{
        margin: 0;
        font-size: 1.2em;
        line-height: 1.6em;
        text-align: justify;
        margin: 10px;
    }
    
#projects{
     ul {
        list-style-type: none;
    }
    
     ul li {
        justify-content: space-around;
        display: flex; 
        align-items: center;
        margin-left: 18%;
        margin-right: 20%;
    }
    
     ul li a {
        color: #fff;
        text-decoration: none;
    }
}

.imgHackersDoBem{
    max-width: 100%;
    width: 130px;
    height: 120px;
    padding-right: 10px;
    text-align: center;
}

.imgAtividadesIlegais{
    max-width: 100%;
    width: 300px;
    height: 300px;
    padding-right: 10px;
    text-align: center;
}

.imgSoftwareSustentavel{
    max-width: 100%;
    width: 130px;
    height: 120px;
    padding-right: 10px;
    text-align: right;
}

.imgEnergiaRenovavel{
    max-width: 100%;
    width: 130px;
    height: 120px;
    padding-right: 10px;
    text-align: center;
}

.imgDesastresNaturais{
    max-width: 100%;
    width: 130px;
    height: 120px;
    padding-right: 10px;
    text-align: center;
}

.imgVidaSelvagem{
    max-width: 100%;
    width: 130px;
    height: 120px;
    padding-right: 10px;
    text-align: center;
}

.p3 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    border-color: inherit;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

footer {
    background-color: #333;
    color: #ffffff;
        position: static;
        bottom: 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }